<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Debug"
      internalLogToConsole="false"
      throwConfigExceptions="true"
>

	<variable name="xsuffix" value="" />
	<variable name="xproducer" value="DefaultProducer" />
	<variable name="xapp" value="DefaultApp" />
	<variable name="xprofileno" value="001" />

	<targets>
		<target xsi:type="Console" name="ConsoleLogger"
layout="${longdate} | ${uppercase:${level}} | ${ecode} | ${threadid} | ${message}
${onexception:\:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" 
/>

		<target xsi:type="File" name="file" fileName="${specialfolder:folder=LocalApplicationData}/${var:xproducer}/${var:xapp}/Profiles/${var:xprofileno}/${processinfo:property=ProcessName}/Logs/${shortdate}${var:xsuffix}.log"
layout="${longdate} | ${uppercase:${level}} | ${ecode} | ${threadid} | ${message}
${onexception:\:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" 
/>
	</targets>
	
	<rules>
		<logger name="default"       minlevel="Trace" writeTo="file" />
		<logger name="ConsoleLogger" minlevel="Trace" writeTo="ConsoleLogger" />
	</rules>

</nlog>	
